body{
    font-size: 32px;
    font-family: 'Press Start 2P', monospace;
    background-color: #000010;
    text-align: center;
    align-items: center;
    color: white;
    writing-mode: horizontal-tb;
     animation: neonFlash 2s infinite;
 }
 @keyframes neonFlash {
   0%   { background-color: #0a0010; text-shadow: 0 0 30px red, 0 0 60px red, 0 0 90px red; color: #ffcccc; }
   14%  { background-color: #050010; text-shadow: 0 0 30px orange, 0 0 60px orange, 0 0 90px orange; color: #fff2cc; }
   28%  { background-color: #100000; text-shadow: 0 0 30px yellow, 0 0 60px yellow, 0 0 90px yellow; color: #222; }
   42%  { background-color: #001000; text-shadow: 0 0 30px green, 0 0 60px green, 0 0 90px green; color: #ccffcc; }
   57%  { background-color: #000020; text-shadow: 0 0 30px blue, 0 0 60px blue, 0 0 90px blue; color: #ccdfff; }
   71%  { background-color: #050010; text-shadow: 0 0 30px indigo, 0 0 60px indigo, 0 0 90px indigo; color: #ddd0ff; }
   85%  { background-color: #100010; text-shadow: 0 0 30px violet, 0 0 60px violet, 0 0 90px violet; color: #f3ccff; }
   100% { background-color: #0a0010; text-shadow: 0 0 30px red, 0 0 60px red, 0 0 90px red; color: #ffcccc; }
 }
.bg{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0.3;
z-index: -1;
 }
  .overlay{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
 }
 .content{
    padding: 100px;
    line-height: 1.8;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
 }
 @media(max-width:768px){
   .content{
      padding: 40px 15px;
   }
   h1{
      font-size: 28px;
   }
   h2{
      font-size: 18px;
   }
   p{
      font-size: 16px;
   }
 }
 .cora{
   display: inline-block;   /* ← ボタンの幅が内容に合わせて縮む */
   width: auto;             /* ← 念のため明示 */
   padding: 12px 35px;
 border-radius: 12px;
   border: 2px solid #00f5ff;
   background: #111;
   color: #fff;
   box-shadow: 0 0 12px #00f5ff;
   animation: blinkNeon 0.8s infinite;
}
@keyframes blinkNeon {
   0%, 100% {
       box-shadow:
           0 0 6px #00f5ff,
           0 0 12px #00f5ff,
           0 0 24px #00f5ff;
       opacity: 1;
   }
   50% {
       box-shadow:
           0 0 0px #00f5ff;
       opacity: 0.4;
   }
}